- @messages.each do | message |
  .message{data:{message_id: "#{message.id}"}}
    .message__upper-info
      %p.message__upper-info__talker<>
        = message.user.name
      %p.message__upper-info__date<> 
        = message.created_at.strftime("%Y/%m/%d %H:%M")
    -if message.body.present?
      %p.message__text<>
        = message.body
    = image_tag message.image.url, class: 'message__image' if message.image.present?