.flash-box
  .alert<>グループを作成しました
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name<>サンプルユーザ
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            = link_to "#" do
              = fa_icon 'edit', class: "contents__btn--icon"
          %li.side-header__box__menu__edit-user
            = link_to "#" do
              = fa_icon 'cog', class: "contents__btn--icon"
    .groups
      - (1..3).each do | i |
        = link_to "#" do
          =render "groups"
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group<>サンプルグループ
        %ul.main-header__left-box__member-list
          Member : 
          - (1..3).each do |i|
            %li.main-header__left-box__member-list__member<>サンプルユーザ
      =link_to "#" do
        .main-header__edit-btn<>Edit
    .messages
      - (1..10).each do | i |
        =render "messages"
    .form
      %form{:action => "/", :class => "new-message", :method => "post" }
        .input-box
          %input{:placeholder => "type a message", :class => "input-box__text", :type => "text", :name => "message[content]"}
          %label.input-box__image{for: "upload-icon"}
            = fa_icon 'image'
            %input{ :type => "file", id: "upload-icon", :class => "input-box__file" }
        %input{:type => "submit", :name => "commit", :value => "send",:class => "submit-btn"}
