.wrapper
  =render 'groups/side_bar'
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group<>
          = @group.name
        %ul.main-header__left-box__member-list
          Member : 
          - @group.members.each do |member|
            %li.main-header__left-box__member-list__member<>
              = member.user.name
      =link_to "/groups/#{@group.id}/edit" do
        .main-header__edit-btn<>Edit
    .messages
      =render partial:'messages', locals:{ message: @message}
    .form
      =form_for [@group, @message] do |f| 
        .input-box
          = f.text_field :body, class: 'input-box__text', placeholder:'type a message'
          %label.input-box__image{for: "upload-icon"}
            = fa_icon 'image'
            = f.file_field :image, id:"upload-icon", class:"input-box__file"
        =f.submit "Send", class: "submit-btn"